.flex-box {
  width: 100%;
  height: 100%;
  display: flex;
}

/* flex box flex-wrap property */
.flex-box--flex-wrap--wrap {
  flex-wrap: wrap;
}

.flex-box--flex-wrap--no-wrap {
  flex-wrap: nowrap;
}

.flex-box--flex-wrap--wrap-reverse {
  flex-wrap: wrap-reverse;
}

/* flex box flex-direction property */
.flex-box--flex-direction--row {
  flex-direction: row;
}

.flex-box--flex-direction--column {
  flex-direction: column;
}

.flex-box--flex-direction--row-reverse {
  flex-direction: row-reverse;
}

.flex-box--flex-direction--column-reverse {
  flex-direction: column-reverse;
}

/* flex box align-items property */
.flex-box--align-items--flex-start {
  align-items: flex-start;
}

.flex-box--align-items--flex-end {
  align-items: flex-end;
}

.flex-box--align-items--center {
  align-items: center;
}

.flex-box--align-items--stretch {
  align-items: stretch;
}

.flex-box--align-items--baseline {
  align-items: baseline;
}

/* flex box jusitify-content property */
.flex-box--jusitify-content--flex-start {
  justify-content: flex-start;
}

.flex-box--jusitify-content--flex-end {
  justify-content: flex-end;
}

.flex-box--jusitify-content--center {
  justify-content: center;
}

.flex-box--jusitify-content--space-between {
  justify-content: space-between;
}

.flex-box--jusitify-content--space-around {
  justify-content: space-around;
}