.box {
  box-sizing: border-box;
  border: 1px solid black;
}

.box--display--block {
  display: block;
}

.box--display--inline {
  display: inline;
}

.box--display--inline-block {
  display: inline-block;
}